# Dependencies
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Chrome profile
chrome-profile/

# Screenshots và tệp tạm
public/screenshots/
*.log
*.tmp

# OS files
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Tệp build
dist/
build/

# Các tệp cache
.cache/
.npm/ 